dj-database-url==0.5.0
Django==3.2.6
djangorestframework==3.12.4
djangorestframework-jsonapi==4.2.1
djangorestframework-simplejwt==4.8.0
Unidecode==1.1.1
pymysql
psycopg2
nltk
sklearn
pandas
gunicorn
virtualenv==20.0.17

