{% extends "Users/base.html" %}
{% block title %} Cambiar contraseña {% endblock %}

{% block content %}

<h2>Cambio de contraseña</h2>

    <div class="form-group">
        <label class="h6" for="email">Nueva contraseña</label>
        <input type="password" class="form-control" name="new-password"  placeholder="Ingresa tu nueva contraseña">
    </div>

    <div class="form-group">
        <label class="h6" for="email">Confirmar contraseña</label>
        <input type="password" class="form-control" name="new-password2"  placeholder="Ingresa tu nueva contraseña">
    </div>

    <div class="form-group">
        <label class="h6" for="email">Contraseña antigua</label>
        <input type="password" class="form-control" name="old-password"  placeholder="Ingresa tu contraseña antigua">
    </div>

    <button id="btn" type="submit" class="btn btn-secondary float-right mb-3 w-100">Guardar cambios</button>
{% endblock %}