{% extends "Users/base_login.html" %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="h6" for="user">Usuario</label>
        <input id="name" type="text" class="form-control" name="user"  placeholder="Ingresa tu nombre">
    </div>

    <div class="form-group">
        <label class="h6" for="password">Contraseña</label>
        <input type="password" class="form-control" name="password"  placeholder="Ingresa tu apellido">
    </div>
    <br><br>
    <button type="submit" class="btn btn-secondary w-100">Ingresar</button> <br><br>
    <a id="link" href="/register"><u>¿Aún no estas registrado?</u></a>
    <!--<a id="link" class="ml-3" href="{% url 'register' %}"><u>Olvide mi contraseña</u></a>-->
    
    </form>


{% endblock %}
<!--script
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{% static 'WorkoutsApp/js/main.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
