{% extends  'Users/base.html' %}
{% load static %}
{% block title %} Perfil {% endblock %}

{% block content %}
<h2>Nivel de rango</h2>

<div class="card mt-3 ">
    <div class="card-body">
        Principiante
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        100/100  <i class="fas fa-futbol"></i>
    </div>
</div>

<div class="card mt-3 ">
    <div class="card-body">
        Sub-master
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        200/500  <i class="fas fa-futbol"></i>
    </div>
</div>

<div class="card mt-3 ">
    <div class="card-body">
        Master
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        0/1000  <i class="fas fa-futbol"></i>
    </div>
</div>
{% endblock %}