{% extends "Users/base_login.html" %}
{% load static %}
{% block title %} Registro 1/2 {% endblock %}

{% block content %}


    <h4 class="font-weight-bold">Registro de usuario 1/2</h4>
    <hr>
    <h4 class="mb-3 font-weight-bold">Datos personales</h4>
    
    <form method="POST">
        {% csrf_token %} 
        {{ form.as_p }}
        {{ form2.as_p }}
        <button type="submit" class="btn btn-primary btn-block">
            <h5>Enviar</h5>
        </button>
    </form>

{% endblock %}
