{% extends "Users/base_login.html" %}
{% load static %}
{% block title %} Sesiones {% endblock %}


{% block content %}


<h2 id="dashboard">Dashboard - Sesiones </h2>

<a href="/workoutsapp/planes/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Planes </a>
<a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Dashboard </a>
<a href="/workoutsapp/sesion/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Iniciar Entreno </a>
<a href="/workoutsapp/sugerencias/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Sugerencias </a>



<!--
  forma 1 de llamar funcion al cargar la pagina

<script type="text/javascript">
  window.addEventListener("load", function(event) {
    hola();
  });
</script>
-->



<div>
    <p>
      <font size="4"> HOLA: </font>
      <font size="6"> {{nombre}} </font>
    </p>

    <p>
      <font size="4"> Estos son los entrenos de tu plan con codigo: </font>

      <div id="idplan">
        <font size="6">        {{codigoplan}}      </font>
      </div>

    </p>

    <p>
      <font size="4"> Para mejorar la:   </font>
      <font size="6">        {{area}}      </font>
    </p>
    <br><br>
</div>

<a display="none" id="aduracion" name="duracion" value="{{duraciones}}">
  {{duraciones}}
</a>
<a display="none" id="asesiones" name="asesiones" value="{{sesiones}}">
  {{sesiones}}
</a>


<!-- sesiones del usuario -->
<div id="sesiones"  style=" width: 99%;">

  <!-- for por cada sesion-->
  {% for sesion in sesiones %}


    {% if forloop.counter0 == 0 %}
    <a id="fecha0">
      <ion-icon name="calendar"></ion-icon>
    </a>
    <div>
      <font size="4"> Codigo de la sesion: </font>
      <a id="sesion0"  value="{{sesion.id_sesion}}">
      <font size="6"> {{sesion.id_sesion}}</font>
      </a>
    </div>

    {% else %}


    <a id="fecha{{forloop.counter0}}">
      <ion-icon name="calendar"></ion-icon>
    </a>
    <div>
      <font size="4"> Codigo de la sesion: </font>
      <a id="sesion{{forloop.counter0}}"  value="{{sesion.id_sesion}}">
          <font size="6"> {{sesion.id_sesion}}</font>
        </a>
    </div>

    {% endif %}

    <div class="card w-75">
      <div class="card-body">
        <p class="card-text">
          <font size="5">Duracion de la sesion:</font>
          <br>
          <center>
            <font size="10"><a id="duracion{{forloop.counter0}}"></a></font>
          </center>
        </p>
      </div>
    </div>
    <br>

    {% if forloop.counter0 == 0%}
    <form action="/workoutsapp/sesion/" method="POST">
      {% csrf_token %}
      <div class="form-group">

        <label class="h6" >Continua con tu sesion: </label>
        <select name="idsesion" id="idsesion">
          <option id="idsesion1" value="{{codigosesion}}">{{codigosesion}}</option>
        </select>

        <br>
        <label class="h6" >Del plan: {{codigoplan}} </label>
        <br>
      </div>
      <br>
      <button id="iniciar" type="submit" class="btn btn-secondary w-100">Empezar con la sesion numero {{codigosesion}} </button>
    </form>
    {% endif%}

    <br> <br>


  {% endfor %}

</div>



{% endblock %}


{% block js %}

<script src="{% static 'WorkoutsApp/js/dashboard.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}



