{% extends "Users/base_login.html" %}
{% load static %}
{% block title %} Sesiones {% endblock %}


{% block content %}


<h2 id="work">Dashboard - Sesiones</h2>

<a href="/workoutsapp/planes/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Planes </a>
<a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Dashboard </a>
<a href="/workoutsapp/sesion/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Iniciar Entreno </a>
<a href="/workoutsapp/sugerencias/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Sugerencias </a>



<!--
  forma 1 de llamar funcion al cargar la pagina

<script type="text/javascript">
  window.addEventListener("load", function(event) {
    hola();
  });
</script>
-->





<!--   barra superior
  <div>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">

    <a >Sesiones </a>
    <div style="position:absolute; top:0; right:0;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <ion-icon name="person"></ion-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </a>
      </li>
    </ul>
</div> 

  </nav>
</div>-->

<div>
    <p>
      <font size="8"> HOLA: </font>
      <font size="5"> {{nombre}} </font>
      <font sise="10">
        <br> 
        tu apellido es:  {{apellido}}
        <br>
        tu codigo de usuario es: {{iduser}}
      </font>
    </p>

    <p> 
      <font size="5">
        Estos son los entrenos para esta semana:
      </font>
    </p>
</div>


<div  style=" width: 90%;" >
 
  <br>

  <a> 

  </a>

</div>

  

<!-- div con entrenos -->
<div id="entrenos"  style=" width: 99%;">
  

{% for ejercicio in ejercicios %}

  <script language="javascript">
    var duracionacum = 0;
  </script>

  {% if forloop.counter0 == 0 %}
  <a id="fecha0">
    <ion-icon name="calendar"></ion-icon>
  </a>
  
  {% else %} 
  <!-- <input id="a" type="hidden" value="{{ejercicios}}" /> -->
  
  <a id="fecha{{forloop.counter0}}">
    <ion-icon name="calendar"></ion-icon>
  </a>

  {% endif %}

  
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Entreno para mejorar la:  
        {{area}}
      </h5>
  
      <!-- for por cada una de las tablas-->
  
      <p class="card-text">
        <font size="5">
          Duración del entrenamiento:
        </font>
        <br>
        <center><font size="10">
          <a id="duracion">
            {{ejercicio.duracion}}  
          </a>
          
           
          </font></center>
          
      </p>
      
      <a href="/workoutsapp/sesion/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Iniciar Entreno </a>
    </div>
  </div>
  
  <br> <br>


{% endfor %}

</div>




   

<!-- barra inferior 
<div class="position:absolute; fixed-bottom " >
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <ion-icon name="barbell"></ion-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <ion-icon name="barbell"></ion-icon>
      </a>
    </li>
  </ul>

</nav>
</div> 

--> 

{% endblock %}


{% block js %}

<script src="{% static 'WorkoutsApp/js/dashboard.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>  
{% endblock %}



