{% extends "Users/base.html" %}
{% load static %}
{% block title %} Planes {% endblock %}

{% block h1 %} Planes{% endblock %}
{% block active %} active{% endblock %}
{% block content %}




<p>
  <h2>
  <font size="4"> HOLA: </font>
  <font size="6"> {{nombre}} </font>
  </h2>
</p>

<a href="/workoutsapp/planes/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Planes </a>
<a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Dashboard </a>
<a href="/workoutsapp/sesion/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Iniciar Entreno </a>
<a href="/workoutsapp/sugerencias/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Sugerencias </a>

<div>
    <p>
      <font size="4"> Tu codigo de usuario es CODIGO: </font>
      <font size="6"> {{iduser}} </font>
    </p>

    <p> 
      <center>
        <font size="5">
          Estos son los planes que tienes pendientes:
        </font>
      </center>
      <br><br>
    </p>
</div>




<!--Planes del usuario-->
  <div id="planes"  style=" width: 99%;">


    <!-- for por cada plan-->
    {% for plan in planes %}

      {% if forloop.counter0 == 0 %}
      <div>
        <font size="4"> Codigo del plan: </font>
        <a id="plan0" value="{{plan.id_plan}}">
            <font size="6"> {{plan.id_plan}}</font>
          </a>
      </div>

      {% else %}
      <div>
        <font size="4"> Codigo del plan: </font>
        <a id="plan{{forloop.counter0}}" value="{{plan.id_plan}}">
          <font size="6"> {{plan.id_plan}}</font>
        </a>
      </div>


      {% endif %}

      <div class="card w-75">
        <div class="card-body">

          <h5 class="card-title">
            <font size="4"> Plan de:    </font>
            <font size="6"> {{plan.id_area.descripcion}} </font>
          </h5>

          <p class="card-text">
            <font size="4"> Total de sesiones del plan:  </font>
            <font size="6"> {{plan.num_sesiones}} </font>
            <br>
            <font size="4"> Sesiones Realizadas:  </font>
            <font size="6"> {{plan.dias_entrenados}} </font>
          </p>

          <!--<textarea class="form-control" rows="3" cols="4" disabled="True" style="resize:none;" ></textarea>-->
          <!-- <a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Continuar con el plan</a> -->
          <!-- <a onclick="una();" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Continuar con el plan</a> -->


        </div>
      </div>

      <br><br><br>

    {% endfor %}

  </div>


  <!--Seleccionar Plan a continuar-->
<form action="/workoutsapp/dashboard/" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label class="h6" for="codigoplan">SELECCIONA EL CODIGO DEL PLAN QUE QUIERAS CONTINUAR</label>
    <select name="codigoplan" id="codigoplan">
      {% for plan in planes %}
        <option value="{{plan.id_plan}}">{{plan.id_plan}}</option>
      {% endfor %}s
    </select>
  </div>
  <br>
  <button id="continuar" type="submit" class="btn btn-secondary w-100">Continuar con el plan</button>
</form>


{% endblock %}


{% block js %}

<script src="{% static 'WorkoutsApp/js/planes.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

{% endblock %}
