{% extends "Users/base_login.html" %}
{% load static %}
{% block title %} Sesiones {% endblock %}


{% block content %}


<h2 id="planes">Planes</h2>

<a href="/workoutsapp/planes/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Planes </a>
<a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Dashboard </a>
<a href="/workoutsapp/sesion/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Iniciar Entreno </a>
<a href="/workoutsapp/sugerencias/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Sugerencias </a>

<div>
    <p>
      <font size="8"> HOLA: </font>
      <font size="5"> {{nombre}} </font>
      <br>
      <font sise="10">
        tu codigo de usuario es: {{iduser}}
      </font>
    </p>

    <p> 
      <font size="5">
        Estos son los planes que tienes pendientes:
      </font>
    </p>
</div>



<!-- div con entrenos -->
<div id="planes"  style=" width: 99%;">
  

    {% for plan in planes %}
       
      {% if forloop.counter0 == 0 %}
      <div>
          Codigo del plan:
        <a id="plan0">
            {{plan.id_plan}}
          </a>
      </div>
      
      {% else %} 
      <div>
        Codigo del plan:
        <a id="plan{{forloop.counter0}}">
            {{plan.id_plan}}
          </a>
      </div>
      
    
      {% endif %}
          
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Plan de:    
            
            {{plan.id_area.descripcion}}
            
          </h5>
      
          <!-- for por cada una de las tablas-->
      
          <p class="card-text">
            <font size="5">
              Duración del plan: {{plan.num_sesiones}}
              Sesiones Realizadas: {{plan.dias_entrenados}}s
            </font>              
          </p>
          
          <!--<textarea class="form-control" rows="3" cols="4" disabled="True" style="resize:none;" ></textarea>-->
          <a href="/workoutsapp/dashboard/" class="btn btn-primary" style="margin-left: 20%; margin-right: 30%;">Continuar con el plan</a>
        </div>
      </div>
      
      <br> <br>
    
    
    {% endfor %}
    
    </div>
    
    









{% endblock %}


{% block js %}

<script src="{% static 'WorkoutsApp/js/planes.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>  
{% endblock %}
