{% extends "Users/base.html" %}
{% load static %}
{% block title %} Sesion inicial {% endblock %}

{% block content %}


    <h4 class="font-weight-bold">Sesion inicial</h4>
    <hr>
    <h4 class="mb-3 font-weight-bold">Selecciona un ejercicio de tu preferencia entre los siguientes ejercicios:</h4>
    <form action="/workoutsapp/sesion0/{{idplan}}" method="POST">
        {% csrf_token %}
        {% for i in ejercicios %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{i.descripcion}}</h6>
            </div>
            <div class="form-check">
                <input class="form-check-input ml-1" value="{{i.id_ejercicios_usuarios}}" type="radio" name="radio" id="flexRadioDefault2" >
                <label class="form-check-label ml-5" for="flexRadioDefault2">
                    {{i.explicacion}}
                </label>
              </div>
        </div>
        {% endfor %}
       
        <input type="text"  id="idplan" name="idplan" value="{{idplan}}" class="field left" readonly>

        <button type="submit" class="btn btn-primary btn-block mt-2">
            <h5>Seleccionar</h5>
        </button>
    </form>
{% endblock %}