{% extends "Users/base.html" %}
{% load static %}
{% block h1 %} Entrenos de hoy {{valor2}} terminados {% endblock %}

{% block content %}
<h1>Hola <strong>{{valor1}}</strong> acabaste todos los entrenos de hoy.</h1>
<br>
<div>
    <font size="6"> <span>  Que quieres hacer ?</span> </font>
    <br><br>
    <center>
        <button id="crearplanes" onclick="crearplanes()" class="btn btn-primary w-50">Crear Planes</button>
        <br><br>
        <br><br>
        <button id="descansar" onclick="descansar()" class="btn btn-primary w-50">Descansar, e ir al dashboard.</button>
    </center>
</div>



{% endblock %}


{% block js %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'Users/vendor/jquery/jquery.min.js' %} "></script>
<script src="{% static 'Users/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'Users/vendor/jquery-easing/jquery.easing.min.js' %} "></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'Users/js/sb-admin-2.min.js' %} "></script>

<!-- Page level plugins -->
<script src="{% static 'Users/vendor/chart.js/Chart.min.js' %} "></script>

<!-- Page level custom scripts -->
<script src="{% static 'Users/js/demo/chart-area-demo.js' %} "></script>
<script src="{% static 'Users/js/demo/chart-pie-demo.js' %} "></script>
<script src="{% static 'WorkoutsApp/js/sesion2.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

{% endblock %}
